/* Color attribution */

.header,
.footer-address { 
    background-color: rgb(35, 178, 255);
}

.nav-menu,
.footer-contacts {
    background-color: rgb(255, 0, 234);
}

.header-separator,
.separator1,
.separator2,
.footer-separator {
    background-color: white;
}

.left-column {
    background-color: rgb(253, 255, 151);
}

/* Grid layout */

.header { 
    grid-area: header; 
    text-align: center;
    position: sticky; 
    top: 0;
    line-height: 30px;
}

.header-separator { 
    grid-area: header-separator; 
    position: sticky;
    top: 0;
}
.nav-menu { 
    grid-area: nav-menu; 
    line-height: 30px;
    position: sticky;
    top: 0;
    padding: 0px;
    margin: 0px;
    font-size: 0px;
}

.nav-menu a {
    font-size: 10px;
    width: 25%;
    padding: 0px;
    margin: 0px;
    border: 0px;
    text-align: center;
}

.nav-menu a,
.nav-menu a:visited {
    display: inline-block;
    text-decoration: none;
    color: black;
}

.nav-menu a:hover {
    background-color: red;
    text-decoration: none;
    transition-timing-function: easeInOutExpo;
    transform: translateY(.25em);
    transition: background-color 0.2s, transform 0.2s;
}

.nav-menu a:active {
    color: purple;
    background-color: pink;
    transform: translateY(1em);
    transition: transform 0.1s;
}

.separator1 { 
    grid-area: separator1; 
    position: sticky;
    top: 40px;
}
.left-column { 
    grid-area: left-column; 
    padding: 20px 20px;
}
.article { 
    grid-area: article; 
}
.separator2 { 
    grid-area: separator2; 
    position: sticky; 
    bottom: 40px;
}
.footer-address { 
    grid-area: footer-address; 
    text-align: center;
    line-height: 40px;
    position:sticky; 
    bottom:0;
}
.footer-separator { 
    grid-area: footer-separator; 
    position:sticky; 
    bottom:0;
}
.footer-contacts { 
    grid-area: footer-contacts; 
    text-align: center;
    line-height: 40px;
    position:sticky; 
    bottom:0;
}

.grid-container {
    display: grid;
    grid-template-areas:
    'header header-separator nav-menu'
    'separator1 separator1 separator1'
    'left-column article article' 
    'separator2 separator2 separator2'
    'footer-address footer-separator footer-contacts';
    gap: 0px;
    grid-template-rows: 30px 30px auto 40px 40px;
    grid-template-columns: 200px auto 300px; 
}

/* Body atributes */

div {
    height: 100%;
}

body {
    margin: 0px;
    padding: 0px;
    border: 0px;
    height: 100%;
}

html {
    color: black;
    height: 100%;
    font-size: 10px; /* px means "pixels": the base font size is now 10 pixels high  */
    font-family: "Open Sans", sans-serif; /* this should be the rest of the output you got from Google fonts */
}
