/* Color attribution */

.header,
.footer-address { 
    background-color: rgb(35, 178, 255);
}

.nav-menu,
.footer-contacts {
    background-color: rgb(255, 0, 234);
}

.header-separator,
.separator1,
.separator2,
.footer-separator {
    background-color: white;
}

.left-column {
    background-color: rgb(253, 255, 151);
}

/* Header layout */

.header { 
    grid-area: header; 
    text-align: center;
    position: sticky; 
    top: 0;
}

.header-separator { 
    grid-area: header-separator; 
    position: sticky;
    top: 0;
}

/* Nav-menu atributes */

.nav-menu { 
    grid-area: nav-menu;
    position: sticky;
    top: 0;
    padding: 0px;
    margin: 0px;
    font-size: 0px;
}

.nav-menu a {
    /* font-size: 10px; */
    width: 25%;
    padding: 0px;
    margin: 0px;
    border: 0px;
    text-align: center;
}

.nav-menu a,
.nav-menu a:visited {
    display: inline-block;
    text-decoration: none;
    color: black;
}

.nav-menu a:hover {
    background-color: red;
    text-decoration: none;
    transition-timing-function: easeInOutExpo;
    transition: background-color 0.4s;
}

.nav-menu a:active {
    color: purple;
    background-color: pink;
    transform: translateY(1em);
    transition: transform 0.1s;
}

/* Article atributes */

.left-column { 
    grid-area: left-column; 
    padding: 20px 20px;
}
.article { 
    grid-area: article; 
}

.article img {
    width: 100%;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

/* Separator atributes */

.separator1 { 
    grid-area: separator1; 
    position: sticky;
}

.separator2 { 
    grid-area: separator2; 
    position: sticky;
}

/* Footer atributes */

.footer-address { 
    grid-area: footer-address; 
    text-align: center;
    position:sticky; 
    bottom:0;
}

.footer-separator { 
    grid-area: footer-separator; 
    position:sticky; 
    bottom:0;
}

.footer-contacts { 
    grid-area: footer-contacts; 
    text-align: center;
    position:sticky; 
    bottom:0;
}

/* Grid layout */

.grid-container {
    display: grid;
    grid-template-areas:
    'header header-separator nav-menu'
    'separator1 separator1 separator1'
    'left-column article article' 
    'separator2 separator2 separator2'
    'footer-address footer-separator footer-contacts';
    gap: 0px;
    grid-template-rows: 40px 40px auto 40px 40px;
    grid-template-columns: 260px auto 340px; 
}

.footer-contacts,
.footer-address,
.nav-menu,
.header {
    line-height: 40px;
}

.separator1 {
    top: 40px;
}

.separator2 {
    bottom: 40px;
}

/* Body atributes */

div {
    height: 100%;
}

body {
    margin: 0px;
    padding: 0px;
    border: 0px;
    height: 100%;
}

html {
    color: black;
    height: 100%;
    font-family: "Open Sans", sans-serif; /* this should be the rest of the output you got from Google fonts */
}

/* Font */

.nav-menu a,
html  {
    font-size: 12px;
}
